.profile-jumbotron {
  .jumbo-box {
    align-items: center;
    flex-direction: column;
    display: flex;
    min-width: 320px;
    max-width: map-get($map: $grid-breakpoints, $key: lg);
    margin: auto;
  }
  .box {
    border: 2px solid $u-primary-bold;
    border-radius: 50%;
    position: relative;
    .icon {
      position: relative;
      width: 200px;
      height: 200px;
      bottom: 5px;
    }
  }
}
