@font-face {
  font-family: "cursive";
  src: url("../../assets/fonts/BadScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "noto-bold";
  src: url("../../assets/fonts/NotoSansJP-Bold.otf") format("opentype");
}
@font-face {
  font-family: "noto-regular";
  src: url("../../assets/fonts/NotoSansJP-Regular.otf") format("opentype");
}
@font-face {
  font-family: "noto-light";
  src: url("../../assets/fonts/NotoSansJP-Light.otf") format("opentype");
}