@function textColor($color) {
  @if (lightness($color) > 70) {
    @return darken($primary, 70);
  }
  @return $white;
}

@mixin resetInputFocus {
  border-color: transparent;
  box-shadow: none;
}

@mixin boxShadowLarge {
  box-shadow: 0 20px 40px rgba($black, 0.25);
}

@mixin boxShadowMedium {
  box-shadow: 0 0 15px 0px rgba($black, 0.15);
}

@mixin boxShadowSmall {
  box-shadow: 0 0 10px rgba($black, 0.15);
}
