%btn {
  padding-left: $spacing * 3;
  padding-right: $spacing * 3;
  border: none;
  color: $white;
  border-radius: $wideRadius;
  width: 100%;
}
%btn-outline {
  background: transparent;
  border-radius: $wideRadius;
  padding-left: $spacing * 3;
  padding-right: $spacing * 3;
}
.btn.s {
  @extend %btn;
  background: linear-gradient(to right, $u-primary, $u-primary-bold 80%);
  transition: all $duration;

  &-outline {
    @extend %btn-outline;
    border: 1px solid $u-primary;
    color: $u-primary;

    &:hover {
      background: $u-primary;
      color: $white;
    }
    &.s-bold {
      color: $u-primary-bold;
      border-color: $u-primary-bold;
    }
    &.s-bold:hover {
      color: $white;
      background-color: $u-primary-bold;
    }
  }

  &:hover {
    background: lighten($u-primary-bold, 10);
  }
  &:active {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
}

.btn.d {
  @extend %btn;
  background: linear-gradient(to right, $gray-600, $gray-700);
  transition: all $duration;
  &:hover {
    background: $gray-600;
  }
}
