.btn.s {
  padding-left: $spacing * 3;
  padding-right: $spacing * 3;
  background: linear-gradient(to right, $u-primary, $u-primary-bold 80%);
  background-size: 200% 100%;
  background-position: 10% center;
  border: none;
  color: $white;
  border-radius: $wideRadius;
  transition: background-position $durationSlow;
  width: 100%;


  &-outline {
    background: transparent;
    border: 1px solid $u-primary;
    border-radius: $wideRadius;
    color: $u-primary;
    padding-left: $spacing * 3;
    padding-right: $spacing * 3;
    &:hover {
      background: $u-primary;
      color: $white;
    }
    &.s-bold {
      color: $u-primary-bold;
      border-color: $u-primary-bold;
    }
    &.s-bold:hover {
      color: $white;
      background-color: $u-primary-bold;
    }
  }
  
  &:hover {
    background-position: 80% center;
  }
  &:active {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
}