.main-navbar {
  border-bottom: 1px solid $gray-500;
  .navbar-brand {
    font-family: "cursive";
  }
  #userConfig+.dropdown-menu {
    left: auto;
    right: -20px;
  }
  a:hover {
    text-decoration: none;
    color: $black;
  }
}
