.tooltip-filldanger {
  color: $danger;

  &.bs-tooltip-start {
    .tooltip-arrow {
      &::before {
        border-left-color: $danger !important;
      }
    }
  }
  &.bs-tooltip-end {
    .tooltip-arrow {
      &::before {
        border-right-color: $danger !important;
      }
    }
  }
  &.bs-tooltip-top {
    .tooltip-arrow {
      &::before {
        border-top-color: $danger !important;
      }
    }
  }
  &.bs-tooltip-bottom {
    .tooltip-arrow {
      &::before {
        border-bottom-color: $danger !important;
      }
    }
  }

  .tooltip-inner {
    background: $danger;
  }
}