$primary: #1b5e20;
$secondary: #4caf50;
$radius: 10px;
$sizeLg: 24px;
$sizeMd: 20px;
$spacing: 10px;
$semibold: 600;
$normal: 400;

@function textColor($color) {
  @if (lightness($color) > 70) {
    @return #000;
  }
  @return #fff;
}

img {
  min-height: 100%;
  object-fit: cover;
}
.boxShadow {
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.4);
}
$registerFormWidth: 768px;
.register-form {
  $height: $registerFormWidth / 1.5;
  $bgColor: rgba(darken($primary, 10%), 0.3);

  width: $registerFormWidth;
  color: textColor($primary);
  border-radius: $radius;
  .heading {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bgColor;
    border-radius: $radius;
  }
  img {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }
  input {
    color: textColor($bgColor);
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: rgba(textColor($bgColor), 0.4);
    &:focus {
      color: textColor($bgColor);
      border-color: transparent;
      border-bottom-color: rgba(textColor($bgColor), 0.4);
      background-color: transparent;
      box-shadow: 0 5px 6px -3px rgba(textColor($bgColor), 0.4),
        0 7px 5px -10px rgba(textColor($bgColor), 0.4),
        0 8px 5px -10px rgba(textColor($bgColor), 0.4),
        0 8px 5px -10px rgba(textColor($bgColor), 0.4);
    }
    &::placeholder {
      color: rgba(textColor($bgColor), 0.6);
    }
  }
  form {
    padding: $spacing * 3;
    height: $height;
    background-color: darken($bgColor, 20%);
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;

    label {
      color: rgba(textColor($bgColor), 0.6);
      font-weight: 600;
    }
    button {
      font-weight: $normal;
      font-size: $sizeMd;
    }
  }
  .btn.text-secondary:hover {
    color: textColor($bgColor) !important;
  }
}
.login-form {
  @extend .register-form;
  $height: $registerFormWidth / 2.5;
  form {
    height: $height;
  }
}