body {
  background-color: $gray-400;
  min-height: 100vh;
  color: lighten($black, 10);
}

.cursor-pointer {
  cursor: pointer;
}

.posts {
  .card {
    .card-img-top {
      min-height: 300px;
      max-height: 600px;
    }
  }
}

input[type="checkbox"] {
  opacity: 0;
}

a {
  text-decoration: none;
  color: $black;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 20px;
}