$white: #fff;
$primary: #e8e8e8;
$secondary: #4caf50;
$black: #161616;
$gray: #6f6f6f;
$radius: 50px;
$sizeLg: 24px;
$sizeMd: 20px;
$spacing: 10px;
$semibold: 600;
$normal: 400;

$wideRadius: $radius;

$durationSlow: 0.5s;

$btnWidth: 200px;